body{
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #222 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-topo{
    background-color: #ffcb08;
    padding: 1rem 0;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
    border-bottom: 2px solid #444;
    position: fixed;
}
.dobra-amarela{
    background-color: #ffcb08;
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-branca{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-cinza{
    background-color: rgba(0,0,0,0);
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #DDD;
    overflow: hidden;
}
.dobra-parallax{
    background-image: url('../img/escavadeira.jpg');
    min-height: 550px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dobra-parallax-2{
    background-image: url('../img/caminhao.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rodape{
    background-color: #ffcb08;
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
    border-top: 2px solid #444;
}
.col-interna{
    float: left;
}
#botao_flutuante_whatsapp{
    background-color: green;
    Height: 48px;
    Width: 160px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 1px #333;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    text-decoration: none;
}
#botao_flutuante_whatsapp i{
    color: white;
    font-size: 1.5rem;
}
#botao_flutuante_whatsapp span{
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}
#modal_imagem{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}
.modal-conteudo{
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    object-fit: contain;
}
#img_modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img_modal{
    position: relative;
}
#close_modal_imagem{
    position: absolute;
    top: 0;
    right: 0;
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    background: #ffcb08;
    padding: 0.1rem;
    border-radius: 50%;
    margin-top: -1rem;
    margin-right: -1rem;
    border: 1px solid #444
}
.img_dobra{
    width: 100%;
    height: auto;
    display: block;
}
#mosaico_imagens img{
    margin-bottom: 30px;
}
.img_mosaico{
    cursor: pointer;
}