body{
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #28282a 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
.dobra-amarela{
    background-color: #ffcb08;
    padding: 2rem 0;
    width: 100%;
    color: #444;
}
.dobra-cinza{
    background-color: rgba(0,0,0,0);
    padding: 2rem 0;
    width: 100%;
    color: #DDD;
}
.dobra-parallax{
    background-image: url('../img/caminhao.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}