body{
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #222 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    color: #000;
}
.menu-topo{
    background-color: #fff;
    padding: 1rem 0 1.5rem 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
}
@media (max-width: 767px) {
    .menu-topo {
        text-align: center;
    }
    #bt_enviar_contato{
        width: 100%;
    }
    #bt_enviar_trabalhe{
        width: 100%;
    }
}
.dobra-amarela{
    background-color: #FFCB05;
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-amarela h2{
    color: #000;
}
.dobra-amarela .destaque{
    font-weight: bold;
    color: #000;
}
.dobra-branca{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-branca h2{
    color: #000;
}
.dobra-branca .destaque{
    font-weight: bold;
    color: #FFCB05;
}
.dobra-cinza{
    /*background-color: rgba(0,0,0,0.75);*/
    background-color: #939598;
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #222;
    overflow: hidden;
}
.dobra-cinza h2{
    color: #FFCB05;
}
.dobra-cinza .destaque{
    font-weight: bold;
    color: #FFF;
}
.dobra-parallax{
    background-image: url('../img/escavadeira.jpg');
    min-height: 550px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dobra-parallax-2{
    background-image: url('../img/caminhao.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rodape{
    background-color: rgba(0,0,0,0.75);
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #DDD;
    overflow: hidden;
}
.col-interna{
    float: left;
}
#botao_flutuante_whatsapp{
    background-color: green;
    Height: 48px;
    Width: 160px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 1px #333;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    text-decoration: none;
}
#botao_flutuante_whatsapp i{
    color: white;
    font-size: 1.5rem;
}
#botao_flutuante_whatsapp span{
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}
#modal_imagem{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}
.modal-conteudo{
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    object-fit: contain;
}
#img_modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img_modal{
    position: relative;
}
#close_modal_imagem{
    position: absolute;
    top: 0;
    right: 0;
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    background: #FFCB05;
    padding: 0.1rem;
    border-radius: 50%;
    margin-top: -1rem;
    margin-right: -1rem;
    border: 1px solid #444
}
.img_dobra{
    width: 100%;
    height: auto;
    display: block;
}
#mosaico_imagens img{
    margin-bottom: 30px;
}
.img_mosaico{
    cursor: pointer;
}
.numero-contavel{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.numero-contavel-titulo{
    text-align: center;
    color: #FFCB05
}
.numero-contavel p{
    font-size: 1rem;
    font-weight: normal;
    margin: 0 1rem;
}
#bt_enviar_contato{
    float: right;
    background-color: #444;
    border-color: #DDD;
}
#bt_enviar_trabalhe{
    float: right;
    background-color: #FFCB05;
    color: #000;
    border-color: #000;
}
@media (min-width: 768px) {
    #nome_contato{
        width: 98% !important;
    }
}