body{
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #222 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
.dobra-amarela{
    background-color: #ffcb08;
    padding: 2rem 0;
    width: 100%;
    color: #444;
}
.dobra-branca{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem 0;
    width: 100%;
    color: #444;
}
.dobra-cinza{
    background-color: rgba(0,0,0,0);
    padding: 2rem 0;
    width: 100%;
    color: #DDD;
}
.dobra-parallax{
    background-image: url('../img/caminhao.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-interna{
    float: left;
}
#botao_flutuante_whatsapp{
    background-color: green;
    Height: 48px;
    Width: 160px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 1px #333;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    text-decoration: none;
}
#botao_flutuante_whatsapp i{
    color: white;
    font-size: 1.5rem;
}
#botao_flutuante_whatsapp span{
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}
.img_dobra{
    width: 100%;
    height: auto;
    display: block;
}
#mosaico_imagens img{
    margin-bottom: 30px;
}