body{
    font-family: 'Century Gothic', sans-serif;
    background: linear-gradient(180deg, #222 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    color: #000;
}
.menu-topo{
    background-color: #fff;
    padding: 1rem 0 1.5rem 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}
@media (max-width: 767px) {
    .menu-topo {
        text-align: center;
    }
    #bt_enviar_contato{
        width: 100%;
    }
    #bt_enviar_trabalhe{
        width: 100%;
    }
}
.dobra-amarela{
    background-color: #FFCB05;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-amarela h2{
    color: #000;
}
.dobra-amarela .destaque{
    font-weight: bold;
    color: #000;
}
.dobra-branca{
    background-color: #FFF;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-branca h2{
    color: #000;
}
.dobra-branca .destaque{
    font-weight: bold;
    color: #000;
}
.dobra-cinza{
    background-color: #939598;
    width: 100%;
    height: auto;
    color: #222;
    overflow: hidden;
}
.dobra-cinza h2{
    color: #000;
}
.dobra-cinza .destaque{
    font-weight: bold;
}
.dobra-foto{
    background-color: #939598;
    background-image: url('../img/Slide4.PNG');
    width: 100%;
    height: auto;
    color: #222;
    overflow: hidden;
    min-height: 550px; 
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dobra-foto h2{
    color: #FFCB05;
}
.dobra-foto .destaque{
    font-weight: bold;
}
.dobra-foto-2{
    background-color: #939598;
    background-image: url('../img/Slide8.PNG');
    width: 100%;
    height: auto;
    color: #222;
    overflow: hidden;
    min-height: 550px; 
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dobra-foto-2 h2{
    color: #FFCB05;
}
.dobra-foto-2 .destaque{
    font-weight: bold;
}
.dobra-parallax{
    background-image: url('../img/escavadeira.jpg');
    min-height: 550px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dobra-parallax-2{
    background-image: url('../img/caminhao.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rodape{
    background-color: rgba(0,0,0,0.75);
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #DDD;
    overflow: hidden;
}
.col-interna{
    float: left;
}
#botao_flutuante_whatsapp{
    background-color: green;
    Height: 48px;
    Width: 160px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 1px #333;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    text-decoration: none;
}
#botao_flutuante_whatsapp i{
    color: white;
    font-size: 1.5rem;
}
#botao_flutuante_whatsapp span{
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}
#modal_imagem{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}
.modal-conteudo{
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    object-fit: contain;
}
#img_modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img_modal{
    position: relative;
}
#close_modal_imagem{
    position: absolute;
    top: 0;
    right: 0;
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    background: #FFCB05;
    padding: 0.1rem;
    border-radius: 50%;
    margin-top: -1rem;
    margin-right: -1rem;
    border: 1px solid #444
}
.img_dobra{
    width: 100%;
    height: auto;
    display: block;
}
#mosaico_imagens img{
    margin-bottom: 30px;
}
.img_mosaico{
    cursor: pointer;
}
.numero-contavel{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.numero-contavel-titulo{
    text-align: center;
    color: #FFCB05
}
.numero-contavel p{
    font-size: 1rem;
    font-weight: normal;
    margin: 0 1rem;
    text-align: center;
}
.destaque-branco{
    color: #FFF;
}
#bt_enviar_contato{
    float: right;
    background-color: #444;
    border-color: #DDD;
}
#bt_enviar_trabalhe{
    float: right;
    background-color: #FFCB05;
    color: #000;
    border-color: #000;
}
@media (min-width: 768px) {
    #nome_contato{
        width: 98% !important;
    }
}

.decoracao_dobra {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.imagem-fundo-dobra {
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.15;
}
.conteudo_dobra {
    padding: 2rem 2rem;
    position: relative;
    z-index: 2;
}
.retangulo-amarelo-1, .retangulo-amarelo-2, .retangulo-amarelo-3, .retangulo-amarelo-4{
    background-color: #FFCB05;
    top: 0px;
    position: absolute;
}
.retangulo-branco-1, .retangulo-branco-2, .retangulo-branco-3, .retangulo-branco-4{
    background-color: #FFF;
    top: 0px;
    position: absolute;
}
.retangulo-cinza-1, .retangulo-cinza-2, .retangulo-cinza-3, .retangulo-cinza-4{
    background-color: #939598;
    top: 0px;
    position: absolute;
}
.retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
    transform: skew(20deg);
    width: 33%;
    height: 100%;
    margin-left: -25%;
}
.retangulo-amarelo-2, .retangulo-branco-2, .retangulo-cinza-2 {
    transform: skew(-20deg);
    width: 33%;
    height: 100%;
    margin-left: 100%;
}
.retangulo-amarelo-3, .retangulo-branco-3, .retangulo-cinza-3 {
    transform: skew(-20deg);
    width: 33%;
    height: 100%;
    margin-left: -25%;
}
.retangulo-amarelo-4, .retangulo-branco-4, .retangulo-cinza-4 {
    transform: skew(20deg);
    width: 33%;
    height: 100%;
    margin-left: 97%;
}
@media (min-width: 1440px) and (max-width: 3839px) {
    .retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
        width: 15%;
        margin-left: -15%;
    }
}
@media (min-width: 1024px) and (max-width: 1339px) {
    .retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
        width: 20%;
        margin-left: -20%;
    }
}
@media (min-width: 992px) and (max-width: 1021px) {
    .retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
        width: 25%;
        margin-left: -15%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
        width: 30%;
        margin-left: -20%;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
        width: 60%;
        margin-left: -60%;
    }
    .retangulo-amarelo-2, .retangulo-branco-2, .retangulo-cinza-2 {
        width: 75%;
        margin-left: 105%;
    }
    .retangulo-amarelo-3, .retangulo-branco-3, .retangulo-cinza-3 {
        width: 80%;
        margin-left: -80%;
    }
    .retangulo-amarelo-4, .retangulo-branco-4, .retangulo-cinza-4 {
        width: 90%;
        margin-left: 120%;
    }
}
@media (max-width: 424px) {
    .retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1 {
        width: 75%;
        margin-left: -85%;
    }
    .retangulo-amarelo-2, .retangulo-branco-2, .retangulo-cinza-2 {
        width: 110%;
        margin-left: 130%;
    }
    .retangulo-amarelo-3, .retangulo-branco-3, .retangulo-cinza-3 {
        width: 150%;
        margin-left: -150%;
    }
    .retangulo-amarelo-4, .retangulo-branco-4, .retangulo-cinza-4 {
        width: 110%;
        margin-left: 130%;
    }
}