body{
    font-family: 'Century Gothic', sans-serif;
    background: linear-gradient(180deg, #222 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    color: #FFF;
}
h1, h2 {
  text-transform: uppercase;
}
.menu-topo{
    background-color: #fff;
    padding: 1rem 0 1.5rem 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}
@media (max-width: 767px) {
    .menu-topo {
        text-align: center;
    }
    #bt_enviar_contato{
        width: 100%;
    }
    #bt_enviar_trabalhe{
        width: 100%;
    }
}
.dobra-amarela{
    background-color: #FFCB05;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-amarela h2{
    color: #000;
}
.dobra-amarela .destaque{
    font-weight: bold;
    color: #000;
}
.dobra-branca{
    background-color: #FFF;
    width: 100%;
    height: auto;
    color: #444;
    overflow: hidden;
}
.dobra-branca h2{
    color: #000;
}
.dobra-branca .destaque{
    font-weight: bold;
    color: #000;
}
.dobra-cinza{
    background-color: #444;
    width: 100%;
    height: auto;
    /*color: #222;*/
    color: #FFF;
    overflow: hidden;
}
.dobra-cinza h2{
    /*color: #000;*/
    color: #FFF;
}
.dobra-cinza .destaque{
    font-weight: bold;
}
.dobra-parallax{
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dobra-parallax img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -91.5px;
    height: 155px;
    width: 183px;
}
.rodape{
    background-color: rgba(0,0,0,0.75);
    padding: 2rem 0;
    width: 100%;
    height: auto;
    color: #DDD;
    overflow: hidden;
    font-size: 0.75rem;
}
.rodape a{
    color: #FFCB05;
    text-decoration: none;
    text-decoration: underline;
}
.rodape p{
    margin-bottom: 0;
    font-size: 0.75rem;
}
.rodape i{
    margin-right: 0.5rem
}
.list-unstyled{
    margin-bottom: 0px;
}
.col-interna{
    float: left;
}
#botao_flutuante_whatsapp{
    background-color: green;
    Height: 48px;
    Width: 160px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 1px #333;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    text-decoration: none;
}
#botao_flutuante_whatsapp i{
    color: white;
    font-size: 1.5rem;
}
#botao_flutuante_whatsapp span{
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}
#modal_imagem{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}
.modal-conteudo{
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    object-fit: contain;
}
#img_modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img_modal{
    position: relative;
}
#close_modal_imagem{
    position: absolute;
    top: 0;
    right: 0;
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    background: #FFCB05;
    padding: 0.1rem;
    border-radius: 50%;
    margin-top: -1rem;
    margin-right: -1rem;
    border: 1px solid #444
}
.img_dobra{
    width: 100%;
    height: auto;
    display: block;
}
#mosaico_imagens img{
    margin-bottom: 30px;
}
.img_mosaico{
    cursor: pointer;
}
.numero-contavel{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.numero-contavel-titulo{
    text-align: center;
    color: #FFCB05
}
.numero-contavel p{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 1rem;
    text-align: center;
}
.destaque-branco{
    color: #FFF;
}
form{
    margin-bottom: 0rem;
}
#bt_enviar_contato{
    float: right;
    background-color: #444;
    border-color: #DDD;
}
#bt_enviar_trabalhe{
    float: right;
    background-color: #FFCB05;
    color: #000;
    border-color: #000;
}
.decoracao_dobra {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.imagem-fundo-dobra {
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.15;
}
.conteudo_dobra {
    padding: 2rem 1rem;
    position: relative;
    z-index: 2;
}
.retangulo-amarelo-1, .retangulo-amarelo-2, .retangulo-amarelo-3, .retangulo-amarelo-4{
    background-color: #FFCB05;
    top: 0px;
    position: absolute;
}
.retangulo-branco-1, .retangulo-branco-2, .retangulo-branco-3, .retangulo-branco-4{
    background-color: #FFF;
    top: 0px;
    position: absolute;
}
.retangulo-cinza-1, .retangulo-cinza-2, .retangulo-cinza-3, .retangulo-cinza-4{
    background-color: #939598;
    top: 0px;
    position: absolute;
}
.retangulo-cinza-claro-1, .retangulo-cinza-claro-2, .retangulo-cinza-claro-3, .retangulo-cinza-claro-4{
    background-color: #DDD;
    top: 0px;
    position: absolute;
}
.retangulo-amarelo-1, .retangulo-branco-1, .retangulo-cinza-1, .retangulo-cinza-claro-1 {
    transform: skew(20deg);
    width: 33%;
    height: 101%;
    margin-left: -25%;
}
.retangulo-amarelo-2, .retangulo-branco-2, .retangulo-cinza-2, .retangulo-cinza-claro-2 {
    transform: skew(-20deg);
    width: 33%;
    height: 101%;
    margin-left: 100%;
}
.retangulo-amarelo-3, .retangulo-branco-3, .retangulo-cinza-3, .retangulo-cinza-claro-3 {
    transform: skew(-20deg);
    width: 33%;
    height: 101%;
    margin-left: -25%;
}
.retangulo-amarelo-4, .retangulo-branco-4, .retangulo-cinza-4, .retangulo-cinza-claro-4 {
    transform: skew(20deg);
    width: 33%;
    height: 101%;
    margin-left: 97%;
}
.triangulo-decoracao{
    position: absolute;
    width: 7%;
    height: 50%;
}
.triangulo-gigante-decoracao{
    position: absolute;
    width: 7%;
    height: 100%;
}
.triangulo-esquerda-superior{
    top: -1px;
    clip-path: polygon(0% 0%, 100% 0, 0% 100%);
}
.triangulo-esquerda-inferior{
    top: 51%;
    clip-path: polygon(0% 0%, 0 100%, 100% 100%);
}
.triangulo-direita-superior{
    top: -1px;
    left: 93%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%);
}
.triangulo-direita-inferior {
    top: 51%;
    left: 93%;
    clip-path: polygon(100% 0%, 0 100%, 100% 100%);
}
.triangulo-gigante-decoracao.triangulo-esquerda-inferior, .triangulo-gigante-decoracao.triangulo-direita-inferior{
    top: 1px;
}
.triangulo-amarelo{
    background-color: #FFCB05;
}
.triangulo-cinza{
    background-color: #939598;
}
.triangulo-branco{
    background-color: #FFF
}
.box-matos-teixeira{
    text-align: center;
    padding: 1rem;
    background-color: #FFCB05;
    color: #000;
    /* Coordenadas: top-left, top-right, bottom-right-superior, bottom-right-inferior, bottom-left */
    clip-path: polygon(
        0% 0%,       /* Topo Esquerda */
        100% 0%,     /* Topo Direita */
        100% 80%,    /* Início do corte na lateral direita */
        95% 100%,    /* Fim do corte na base inferior */
        0% 100%      /* Base Esquerda */
    );
}
.box-matos-teixeira p{
    margin-bottom: 0rem;
}
.box-sede{
    text-align: center;
    padding: 1rem;
    background-color: #444;
    color: #FFF;
    /* Coordenadas: top-left, top-right, bottom-right-superior, bottom-right-inferior, bottom-left */
    clip-path: polygon(
        0% 0%,       /* Topo Esquerda */
        100% 0%,     /* Topo Direita */
        100% 80%,    /* Início do corte na lateral direita */
        95% 100%,    /* Fim do corte na base inferior */
        0% 100%      /* Base Esquerda */
    );
}
.box-sede .destaque{
    color: #FFCB05;
    font-weight: bold;
}
.box-sede img{
    height: 64px;
    width: auto;
}
.box-atuacao{
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.95);
    color: #939598;
    font-weight: bold;
    font-size: 1.5rem;
    /* Coordenadas: top-left, top-right, bottom-right-superior, bottom-right-inferior, bottom-left */
    clip-path: polygon(
        0% 0%,       /* Topo Esquerda */
        100% 0%,     /* Topo Direita */
        100% 70%,    /* Início do corte na lateral direita */
        95% 100%,    /* Fim do corte na base inferior */
        0% 100%      /* Base Esquerda */
    );
}
.box-atuacao img{
    filter: invert(100%) sepia(100%) saturate(126%) hue-rotate(177deg) brightness(100%) contrast(0%);
    height: 52px;
    width: auto;
}
.box-areas-licenciadas{
    padding: 1rem;
    background-color: #FFCB05;
    /* Coordenadas: top-left, top-right, bottom-right-superior, bottom-right-inferior, bottom-left */
    clip-path: polygon(
        0% 0%,       /* Topo Esquerda */
        100% 0%,     /* Topo Direita */
        100% 70%,    /* Início do corte na lateral direita */
        95% 100%,    /* Fim do corte na base inferior */
        0% 100%      /* Base Esquerda */
    );
    color: #444;
}
.box-areas-licenciadas img{
    filter: invert(100%) sepia(100%) saturate(126%) hue-rotate(177deg) brightness(100%) contrast(50%);
    height: 2rem;
    width: 2rem;
    float: left;
    margin-right: 1rem;
}
.box-areas-licenciadas img.caminhao{
    filter: invert(10%) sepia(100%) saturate(126%) hue-rotate(177deg) brightness(100%) contrast(50%);
    height: 2rem;
    width: 2rem;
    float: left;
    margin-right: 1rem;
}
.box-areas-licenciadas p{
    margin-bottom: 0rem;
    margin-top: 0.25rem;
}
.box-areas-licenciadas .titulos-box{
    font-weight: bold;
}
.galeria-clientes{
    text-align: center;
}
.galeria-clientes img{
    border: 3px solid #444;
    padding: 0.25rem;
}
.alert{
    float: left;
    width: 100%;
}
/* novo */
@media (max-width: 1560px){
    .triangulo-gigante-decoracao{
        width: 5%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 95%;
    }
}
@media (max-width: 1479px){
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 5%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 95%;
    }
}
@media (max-width: 1420px){
    .triangulo-gigante-decoracao{
        width: 4%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 96%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 3%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 97%;
    }
}
@media (max-width: 1399px){
    .triangulo-gigante-decoracao{
        width: 7%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 93%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 7%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 93%;
    }
}
@media (max-width: 1279px){
    .triangulo-gigante-decoracao{
        width: 5%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 95%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 5%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 95%;
    }
}
@media (max-width: 1219px){
    .triangulo-gigante-decoracao{
        width: 4%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 96%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 3%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 97%;
    }
}
@media (max-width: 1199px){
    .triangulo-gigante-decoracao{
        width: 7%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 93%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 7%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 93%;
    }
}
@media (max-width: 1069px){
    .triangulo-gigante-decoracao{
        width: 5%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 95%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 5%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 95%;
    }
}
@media (max-width: 1024px){
    .triangulo-gigante-decoracao{
        width: 4%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 96%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 3%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 97%;
    }
}
@media (max-width: 991px){
    .triangulo-gigante-decoracao{
        width: 7%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 93%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 7%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 93%;
    }
    .dobra-parallax{
        background-attachment: scroll !important;
    }
    .rodape{
        font-size: 0.75rem;
    }
}
@media (max-width: 819px){
    .triangulo-gigante-decoracao{
        width: 5%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 95%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 5%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 95%;
    }
}
@media (max-width: 767px){
    .triangulo-gigante-decoracao{
        width: 9%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 91%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 9%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 91%;
    }
    .rodape{
        padding: 0rem;
    }
    .rodape li{
        margin-bottom: 0.5rem;
    }
    .logo-rodape{
        display:none;
    }
}
@media (max-width: 621px){
    .triangulo-gigante-decoracao{
        width: 7%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 93%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 7%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 93%;
    }
}
@media (max-width: 591px){
    .triangulo-gigante-decoracao{
        width: 5%;
    }
    .triangulo-direita-inferior, .triangulo-direita-superior{
        left: 95%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior,
    .triangulo-decoracao.triangulo-esquerda-inferior,
    .triangulo-decoracao.triangulo-esquerda-superior{
        width: 5%;
    }
    .triangulo-decoracao.triangulo-direita-inferior,
    .triangulo-decoracao.triangulo-direita-superior{
        left: 95%;
    }
}
@media (max-width: 575px){
    .triangulo-gigante-decoracao, .triangulo-direita-inferior, .triangulo-direita-superior, .triangulo-esquerda-inferior, .triangulo-esquerda-superior{
        display:none;
    }
}
@media (max-width: 425px) {
    .rodape{
        text-align: center;
    }
    .rodape i{
        display: none;
    }
    .rodape p{
        font-size: 0.6rem;
    }
}