body{
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #222 0%,#939598 100%);
    margin: 0;
    padding: 0;
    width: 100%;
}
.dobra-amarela{
    background-color: #ffcb08;
    padding: 2rem 0;
    width: 100%;
    color: #444;
}
.dobra-branca{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem 0;
    width: 100%;
    color: #444;
}
.dobra-cinza{
    background-color: rgba(0,0,0,0);
    padding: 2rem 0;
    width: 100%;
    color: #DDD;
}
.dobra-parallax{
    background-image: url('../img/caminhao.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-interna{
    float: left;
}
#botao_flutuante_whatsapp{
    background-color: green;
    Height: 60px;
    Width: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}